.navbar a{
    font-family: 'Quicksand', sans-serif, serif;font-size: 18px;
}
.nav-link span{
    font-family: 'Quicksand', sans-serif, serif;font-size: 18px;color: black;
}
.nav-link i{
    font-family: 'Quicksand', sans-serif, serif;font-size: 18px;color: black;
}
.nav-link a{
    font-family: 'Quicksand', sans-serif, serif;font-size: 18px;color: black;
}
.navbar {
    position:fixed;
    top: 0;
    width: 100%
}

.navbar li {
    text-align: center;
}
.tales {
    width: 100%;
}

#pages-description{
    padding-bottom: 0;
}
.carousel-img{
    margin-top: 50px;
    width: 450px;
    height: auto;
    margin-bottom: 50%;
}
/* Since positioning the image, we need to help out the caption */


.carousel,
.carousel-inner {
    height: 640px;
    position:relative;
}

.carousel-wrapper {
// Replace transition-property from carousel transition variable
transition: set-nth(carousel-transition, 1, height);
}

/* Declare heights because of positioning of img element */
.carousel .item { height: 260px; }

.carousel-caption{
    top: 145px;
    right: 20px;
    left: 20px;
    padding-bottom: 40px;
    min-width: 300px;
    max-width : 700px
}
/*images*/
.circular--landscape {
    display: inline-block;

    width: 300px;
    height: 300px;
    overflow: hidden;
    border-radius: 50%;

}

.circular--landscape img {
    width: 200px;
    height: 200px;
    margin-left: -600px;
    margin-top: 600px;
    object-fit: cover;
}

/*card columns*/
* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* Float four columns side by side */
.column {
    float: left;
    width: 20%;
    padding: 0px;
}

/* Remove extra left and right margins, due to padding in columns */
.row {margin: 0px;}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Style the counter cards */
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
    padding: 16px;
    text-align: center;
    width: 400px;
    background-color: #f1f1f1;
}


/* Add some padding inside the card container */
.container {
    padding: 2px 16px 28px;
}


i {
    font-size: 20px;
}