.navbar a{
    font-family: 'Quicksand', sans-serif, serif;font-size: 17px;
}
.navbar-brand {
    position: relative;
    width: 170px;
    left: 15px;
    background-size: contain;
}
.navbar {
    position:fixed;
    top: 0;
    width: 100%
}

.navbar .navbar-collapse {
    text-align: center;
}
.tales {
    width: 100%;
}

#pages-description{
    padding-bottom: 0;
}
.carousel-img{
    margin-top: 50px;
    width: 350px;
    height: auto;
    margin-bottom: 50%;
}
/* Since positioning the image, we need to help out the caption */


.carousel-inner {
    background: url(images/Untitled-13.jpg) bottom center no-repeat;
    min-height: 490px;
    margin-bottom: 60px;

}

/* Declare heights because of positioning of img element */
.carousel-item {
    height: 35rem;
}

.carousel-caption{
    position: relative;
    right: 0;
    left: 0;
    padding-bottom: 0;
}
